$blue: #00baff;
$blue-text: #006eff;
$blue-second: #84d7f53b;
$sky-blue: #006eff;
$blue-hover: #129ed1;
$gray-text: #777879;
$title-color: black;
$subtitle-color: rgba(0, 0, 0, 0.507);
$text-color: rgba(0, 0, 0, 0.473);
$subtext-color: rgba(0, 0, 0, 0.384);
$devider-color: rgba(231, 228, 228, 0.623);

$price-title-color: #164b77;
$primary-color: #78F3F3;
$secondary-color: #B1EDFF;
